@font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    src: local('../fonts/Pretendard-Regular.woff'),
    url('../fonts/Pretendard-Regular.woff') format('woff'),
}

body {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

p {
    font-family: Pretendard-Regular;
}

.app {
    margin: 50px;
    width: 100%;
    height: 70vh;
}

.result {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow:
        10px 10px 20px #bebebe, 
        -10px -10px 20px #ffffff;
    display:flex;
}

.nickname-field {
    font-size: 20px;
    margin-left: 20px;
}

.profile {
    width: 50px;
    height: 50px;
}